header {
    display: flex;
    height: 7vh;
    background-color: cadetblue;
    justify-content: flex-start;
    align-items: center;
    color: black;
    font-family: 'Special Elite', cursive;
}

header .left {
    font-weight: 700;
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
}

.brand {
    margin-bottom: .5rem;
}